<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Harry Pigot</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:contact@harrypigot.com">email</a></li>
	        		<li><a href="https://github.com/hpigot">github.com/hpigot</a></li>
	        		<li><a href="https://hpigot.github.io/blog/atom.xml">rss feed</a></li>
				</ul>
			</footer>
		</body>
	</html>